@charset "UTF-8";
/*hola desde root*/
:root {
  --neutral-000: hsl(0, 0%, 100%);
  --neutral-100: hsl(0, 0%, 95%);
  --neutral-200: hsl(0, 0%, 82.5%);
  --neutral-300: hsl(0, 0%, 70%);
  --neutral-400: hsl(0, 0%, 60%);
  --neutral-500: hsl(0, 0%, 50%);
  --neutral-600: hsl(0, 0%, 40%);
  --neutral-700: hsl(0, 0%, 30%);
  --neutral-800: hsl(0, 0%, 17.5%);
  --neutral-900: hsl(0, 0%, 7.5%);
  --neutral-1000: hsl(0, 0%, 0%);
  --accent-100: hsl(336, 75%, 95%);
  --accent-200: hsl(336, 75%, 82.5%);
  --accent-300: hsl(336, 75%, 70%);
  --accent-400: hsl(336, 75%, 60%);
  --accent-500: hsl(336, 75%, 50%);
  --accent-600: hsl(336, 75%, 40%);
  --accent-700: hsl(336, 75%, 30%);
  --accent-800: hsl(336, 75%, 17.5%);
  --accent-900: hsl(336, 75%, 7.5%);
  --primary-100: hsl(216, 75%, 95%);
  --primary-200: hsl(216, 75%, 82.5%);
  --primary-300: hsl(216, 75%, 70%);
  --primary-400: hsl(216, 75%, 60%);
  --primary-500: hsl(216, 75%, 50%);
  --primary-600: hsl(216, 75%, 40%);
  --primary-700: hsl(216, 75%, 30%);
  --primary-800: hsl(216, 75%, 17.5%);
  --primary-900: hsl(216, 75%, 7.5%);
  --fs-900: 3.75rem;
  --fs-800: 2.25rem;
  --fs-700: 1.75rem;
  --fs-600: 1.125rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.925rem;
  --fs-200: 0.875rem;
}
@media screen and (min-width: 65em) {
  :root {
    --fs-900: 3.75rem;
    --fs-800: 2.5rem;
    --fs-700: 1.75rem;
    --fs-600: 1.3125rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.925rem;
    --fs-200: 0.875rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  min-width: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Pensado para múltiples líneas */
p {
  text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* --- Aplicar los estilos --- */
/* Modo Claro */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translatex(-200px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

h4 {
  font-size: var(--fs-600);
}

.container {
  padding: 0 1rem;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 65em) {
  .container {
    padding: 0 10%;
  }
}

.heading {
  font-size: var(--fs-900);
  color: var(--neutral-800);
  font-family: "mathlete", system-ui, sans-serif;
  text-transform: none;
  letter-spacing: -0.02em;
  font-weight: 500;
  line-height: 1.1;
  font-weight: 500;
  max-width: 43rem;
  margin-bottom: 4rem;
}

footer {
  background-color: var(--footer-background-light);
  color: white;
}

h1, h2, h3, h4 {
  color: var(--primary-400);
}

/* --- Estilos para el Modo Oscuro --- */
/* Cabecera */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  animation: fadeIn 1s ease;
  border-bottom: 1px solid rgba(246, 247, 247, 0.638);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo img {
  width: 10rem;
  height: auto;
  transition: color 0.3s;
}
header nav .nav-links {
  list-style-type: none;
  display: none;
}
header nav .nav-links li {
  margin-left: 30px;
  position: relative;
}
header nav .nav-links li:hover a {
  color: var(--primary-500);
}
header nav .nav-links a {
  color: var(--neutral-800);
  text-decoration: none;
  font-size: var(--fs-400);
  font-weight: 400;
  position: relative;
  color: var(--text-color-light);
  transition: 0.15s ease all;
  position: relative;
  display: block;
  padding: 1.5rem 0.5rem;
}
header nav .nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primary-500);
  display: none;
}
header nav .nav-links a:hover::after {
  display: block;
}
header nav button {
  display: none;
}
header nav .header-hamburguer[fill] {
  color: var(--primary-500);
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
}
header .btn-group {
  margin-left: auto;
  display: none;
  gap: 1rem;
}
@media screen and (min-width: 65em) {
  header .header-hamburguer {
    display: none;
  }
  header nav .nav-links {
    display: flex;
  }
  header .btn-group {
    display: flex;
  }
}

/* Sección Hero */
.hero {
  background-color: #fff;
  padding: 2rem 0;
  animation: slideUp 1s ease-out;
}
.hero .hero-content h1 {
  font-size: var(--fs-800);
  font-weight: 600;
  animation: fadeInUp 1s ease-out;
}
.hero .hero-content p {
  font-size: var(--fs-600);
  margin-top: 2rem;
  animation: fadeInUp 1.5s ease-out;
}
.hero .hero-img {
  margin-top: 2rem;
}
.hero .hero-img img {
  border-radius: 0.5rem;
  animation: fadeInUp 2s ease-out;
}
.hero .btn {
  animation: fadeInUp 2s ease-out;
  margin-top: 2rem;
  padding: 1.2rem 1.5rem;
  font-size: var(--fs-500);
}
@media screen and (min-width: 65em) {
  .hero {
    padding: 4rem 0;
  }
  .hero .hero-container {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: center;
  }
}

/* Sección Beneficios */
.beneficios {
  background-color: #fff;
  padding-bottom: 4rem;
}
.beneficios .beneficios-container {
  display: grid;
  justify-content: space-between;
  gap: 4rem;
  animation: fadeInLeft ease-out;
  animation-timeline: view(); /*vie2() idica solo la pasa cuando el elemento es visible en la pantalla*/
  animation-range: entry 0% cover 20%;
}
.beneficios .heading {
  animation: slideUp 1s ease-out;
  margin-bottom: 4rem;
}
.beneficios .benefit:not(:last-child) {
  margin-bottom: 4rem;
}
.beneficios .card-benefit {
  border-left: 3px solid var(--primary-500);
  padding: 0 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.beneficios .card-benefit .card-svg {
  position: absolute;
  top: 15%;
  left: -30px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.beneficios .card-benefit svg {
  width: 35px;
  height: 35px;
  color: var(--primary-500);
}
.beneficios .card-benefit h3 {
  color: var(--neutral-800);
  margin-top: 1rem;
  font-size: var(--fs-800);
  font-weight: 600;
}
.beneficios .card-benefit p {
  margin-top: 2rem;
  font-size: var(--fs-700);
}
@media screen and (min-width: 45em) {
  .beneficios .beneficios-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
@media screen and (min-width: 65em) {
  .beneficios .beneficios-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    animation: fadeInLeft ease-out;
    animation-timeline: view(); /*vie2() idica solo la pasa cuando el elemento es visible en la pantalla*/
    animation-range: entry 0% cover 40%;
  }
}

/* Marcas */
.marcas {
  background-color: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
  animation: fadeInLeft ease-out;
  animation-timeline: view(); /*vie2() idica solo la pasa cuando el elemento es visible en la pantalla*/
  animation-range: entry 0% cover 30%;
}
.marcas .heading {
  margin-bottom: 4rem;
}
.marcas .marcas-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.marcas .marcas-grid .heading {
  margin-bottom: 4rem;
}
.marcas .marcas-grid img {
  width: 7rem;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  filter: contrast(0.3);
}

/* Testimonios */
.testimonios {
  padding: 4em 0;
  background-color: #f9f9f9;
}
.testimonios .heading {
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
}
.testimonios .testimonios-container {
  display: flex;
  padding: 1rem 0;
  animation: fadeInLeft ease-out;
  animation-timeline: view(); /*vie2() idica solo la pasa cuando el elemento es visible en la pantalla*/
  animation-range: entry 0% cover 30%;
}
.testimonios .testimonio {
  text-align: center;
  background-color: var(--neutral-000);
  padding: 3rem 1rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 15px rgba(133, 133, 133, 0.063);
  transition: 0.3s ease all;
  border: 1px solid #f2f2f2;
  min-width: 70%;
  z-index: 100;
}
.testimonios .testimonio:hover {
  box-shadow: 10px 10px 15px rgba(133, 133, 133, 0.137);
  transform: scale(1.1);
}
.testimonios .testimonio:hover img {
  transform: scale(1.2);
}
.testimonios .testimonio img {
  margin: 0 auto;
  width: 5rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: 0.7rem;
  transition: 0.3s ease all;
  border-radius: 0.5rem;
}
.testimonios .testimonio .testimonio-user {
  font-size: var(--fs-400);
  font-weight: 500;
  color: var(--neutral-700);
  margin-bottom: 0.6rem;
}
.testimonios .testimonio p {
  font-size: 18px;
  font-style: italic;
}
@media screen and (min-width: 65em) {
  .testimonios .testimonios-container {
    justify-content: space-between;
    overflow-x: initial;
    gap: 1rem;
  }
  .testimonios .testimonio {
    width: 31%;
    min-width: initial;
  }
}

/* Formulario de contacto */
.contacto {
  animation: fadeInLeft ease-out;
  animation-timeline: view(); /*vie2() idica solo la pasa cuando el elemento es visible en la pantalla*/
  animation-range: entry 0% cover 30%;
}
.contacto .container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto .form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contacto .contact-form {
  background-color: var(--primary-500);
  position: relative;
}
.contacto .circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, var(--primary-600));
  position: absolute;
}
.contacto .circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}
.contacto .circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}
.contacto .contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--primary-700);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}
.contacto form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}
.contacto .title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}
.contacto .input-container {
  position: relative;
  margin: 1rem 0;
}
.contacto .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: 0.3s;
}
.contacto textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
}
.contacto .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}
.contacto .input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}
.contacto .btn {
  padding: 0.9rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: var(--primary-500);
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}
.contacto .btn:hover {
  background-color: transparent;
  color: #fff;
}
.contacto .input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}
.contacto .input-container span:before,
.contacto .input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: var(--primary-500);
  top: 50%;
  transform: translateY(-50%);
}
.contacto .input-container span:before {
  left: 50%;
}
.contacto .input-container span:after {
  right: 50%;
}
.contacto .input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}
.contacto .input-container.focus span:before,
.contacto .input-container.focus span:after {
  width: 50%;
  opacity: 1;
}
.contacto .contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}
.contacto .contact-info .title {
  color: var(--primary-500);
}
.contacto .text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}
.contacto .information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}
.contacto .information i {
  color: var(--primary-500);
}
.contacto .icon {
  width: 28px;
  margin-right: 0.7rem;
}
.contacto .social-media {
  padding: 2rem 0 0 0;
}
.contacto .social-media p {
  color: #333;
}
.contacto .social-icons {
  display: flex;
  margin-top: 0.5rem;
}
.contacto .social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, var(--primary-500), var(--primary-600));
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.contacto .social-icons a:hover {
  transform: scale(1.05);
}
.contacto .contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid var(--primary-500);
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}
.contacto .big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, var(--primary-500), var(--primary-600));
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}
.contacto .big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}
.contacto .square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}
@media (max-width: 850px) {
  .contacto .form {
    grid-template-columns: 1fr;
  }
  .contacto .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }
  .contacto .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }
  .contacto .square {
    transform: translate(140%, 43%);
    height: 350px;
  }
  .contacto .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }
  .contacto .text {
    margin: 1rem 0 1.5rem 0;
  }
  .contacto .social-media {
    padding: 1.5rem 0 0 0;
  }
}
@media (max-width: 480px) {
  .contacto .container {
    padding: 1.5rem;
  }
  .contacto .contact-info:before {
    display: none;
  }
  .contacto .square,
  .contacto .big-circle {
    display: none;
  }
  .contacto form,
  .contacto .contact-info {
    padding: 1.7rem 1.6rem;
  }
  .contacto .text,
  .contacto .information,
  .contacto .social-media p {
    font-size: 0.8rem;
  }
  .contacto .title {
    font-size: 1.15rem;
  }
  .contacto .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .contacto .icon {
    width: 23px;
  }
  .contacto .input {
    padding: 0.45rem 1.2rem;
  }
  .contacto .btn {
    padding: 0.45rem 1.2rem;
  }
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

footer p {
  margin: 0;
}

/* Infinite Scroll */
@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* ========================== ↴
* BUTTONS
* ========================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: "mathlete", system-ui, sans-serif;
  font-size: var(--fs-400);
  text-transform: none;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  border: 0;
  border-radius: 0.5rem;
  transition: 275ms ease;
  color: var(--primary-500);
  background: transparent;
}
.btn[data-type=accent] {
  background-color: var(--accent-400);
  color: var(--neutral-000);
}
.btn[data-type=accent]:is(:hover, :focus) {
  background-color: var(--accent-500);
  color: var(--neutral-000);
}
.btn[data-type=primary] {
  background-color: var(--primary-500);
  color: var(--neutral-000);
}
.btn[data-type=primary]:is(:hover, :focus) {
  background-color: var(--primary-600);
  color: var(--neutral-000);
}

/* !----------------------------- buttons */
.slider-infinity-scroll {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
          mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  padding: 2rem 0;
}
.slider-infinity-scroll .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider-infinity-scroll .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(10s / var(--quantity) * (var(--position) - 1)) !important;
}
.slider-infinity-scroll .list .item img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider-infinity-scroll:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider-infinity-scroll .item:hover {
  filter: grayscale(0);
}

.slider-infinity-scroll[reverse=true] .item {
  animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}/*# sourceMappingURL=styles.css.map */